
<div class="container">
  <div class="dashboard-grid">
    <div class="dashboard-profile">
      PROFILE INFO
    </div>
    <div class="dashboard-followers">
      350 followers
    </div>
    <div class="dashboard-contributions">
      1000 contributions
    </div>
    <div class="dashboard-repositories">
      54 repos
    </div>

    <div class="dashboard-bio">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod architecto, dolorum dolorem ipsam tempora suscipit, neque ut animi beatae quia magnam dolore doloribus, voluptate atque nam dignissimos. Esse ratione quis laborum harum hic reiciendis minus beatae expedita eligendi fugiat vero, eos corporis, consequatur eum in nisi sequi dolorum totam mollitia? Autem aperiam laborum dolores delectus dicta dolorem laboriosam nobis reiciendis rerum, saepe! Laudantium, consectetur rerum eligendi repudiandae porro?
    </div>
  </div>
</div>
