<div class="container">

  <div class="dashboard-grid">
    <div class="owner-box">

      <div class="avatar">
        <div>
          <img src="http://placecage.com/200/200 "alt="owner-avatar" class="avatar-pic">
        </div>
      </div>
      <div class="owner-info">
        <h3 class="owner-name">Nick Drengen</h3>
        <i class="fa-thumb"></i>
      </div>

      <div>
        <p class="owner-title">Copenhagen</p>
      </div>

      <div>
        <p class="owner-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel, ex vero!</p>
      </div>

      <div class="owner-some">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>


    </div>

    <div class="message-box">
      <div class="message-owner">
        <p class="message-text">"Lorem ipsum dolor sit amet, consectetur adipisicing"</p>
      </div>
      <div class="status-owner">
        <p class="status-date">20 Aug</p>
        <p class="status-year">2018</p>

      </div>
    </div>

    <div class="message-box">
      <div class="message-owner">
        <p class="message-text">"Lorem ipsum dolor sit amet, consectetur adipisicing"</p>
      </div>
      <div class="status-owner">
        <p class="status-date">20 Aug</p>
        <p class="status-year">2018</p>
      </div>

    </div>

    <div class="message-box">
      <div class="message-owner">
        <p class="message-text">"Lorem ipsum dolor sit amet, consectetur adipisicing"</p>
      </div>
      <div class="status-owner">
        <p class="status-date">20 Aug</p>
        <p class="status-year">2018</p>
      </div>

    </div>


  </div>

</div>











<br><br>
<br>







