<h1>HEJ CHRISTIAN</h1>

<div class="banner-home-top">
  <%= image_tag "jube_logo.png", class: "logo-home" %>
  <h1>Rent and rent out film equipment</h1>
  <p>Coming January 2019</p>

  <div class="buttons-home-top">

    <a href="#" class="main-button" >Sign up now</a>

    <a href="#" class="main-button2" >Sign up later</a>


  </div>



</div>
<div class="what-is-jube">
  <iframe src="https://player.vimeo.com/video/301698161?title=0&byline=0&portrait=0&sidedock=0"
  frameborder="0" width="400" height="238" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe src="https://player.vimeo.com/video/301698144?title=0&byline=0&portrait=0&sidedock=0"
  frameborder="0" width="400" height="238" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe src="https://player.vimeo.com/video/301698117?title=0&byline=0&portrait=0&sidedock=0"
  frameborder="0" width="400" height="238" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>


<div class="what-is-jube-info">

  <div class="feature-section">
    <span class="feature-icon"><i class="fas fa-camera"></i></span>
    <div>
      <h3 class="feature-title">Search Gear</h3>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, incidunt.
      </p>
    </div>
  </div>


  <div class="feature-section">
    <span class="feature-icon"><i class="fas fa-camera"></i></span>
    <div>
      <h3 class="feature-title">Title 2</h3>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, incidunt.
      </p>
    </div>
  </div>


  <div class="feature-section">
    <span class="feature-icon"><i class="fas fa-camera"></i></span>
    <div>
      <h3 class="feature-title">Title 3</h3>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, incidunt.
      </p>
    </div>
  </div>


  <div class="feature-section">
    <span class="feature-icon"><i class="fas fa-camera"></i></span>
    <div>
      <h3 class="feature-title">Title 4</h3>
      <p class="feature-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, incidunt.
      </p>
    </div>
  </div>

</div>



<div class="built-for-renters-sektion">

  <h3 class="built-for-renters-headline">
    Build for renters and owners
  </h3>
  <p class="built-for-renters-subheader">
    By filmmakers for filmmakers
  </p>

  <div class="built-for-renters-content">


  <div class="built-for-renters-section1">
    <%= image_tag "dashboard.png", class: "built-for-renters-pictures" %>
    <div>
      <h3 class="built-for-renters-big-text">
        Keeps track of bookings
      </h3>
      <p class="built-for-renters-small-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ut, commodi!
      </p>
    </div>




    </div>



  </div>


</div>








</div>



